$text-heading-color : hsl(238, 29%, 16%);
$text-bold-color: hsl(237, 12%, 33%);
$text-color: hsl(240, 6%, 50%);
$accent-color: hsl(14, 88%, 65%);
$accent2-color: hsl(240, 5%, 91%);
$gradient-color: linear-gradient(hsl(273, 75%, 66%) 0%,
    hsl(240, 73%, 65%) 100%);