// import
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap'); //font-family: 'Kumbh Sans', sans-serif;
@import './variables';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $gradient-color;
    color: $text-color;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    width: 100vw;
    height: 100vh;

    @include media (desktop) {
        overflow: hidden;
    }
}

.container {
    width: calc(100% - 3rem);
    height: 100%;
    margin: auto;
    display: flex;

    @include media (desktop) {
        max-width: 57.2rem;
    }

}

.card {

    width: 100%;
    height: max-content;
    margin: 9rem auto;
    background: #fff;
    border-radius: 1rem;

    @include media (desktop) {
        height: 31.6rem;
        display: flex;
        margin: auto;
        overflow: hidden;
    }

    &__top {
        margin-top: -6.9rem;
        padding-bottom: 1rem;
        background: url(../images/bg-pattern-mobile.svg) no-repeat;
        background-position: bottom;
        display: flex;

        @include media (desktop) {
            margin: 0;
            padding-top: 4rem;
            flex-basis: 71rem;
            background: url(../images/bg-pattern-desktop.svg) no-repeat;
            background-position: -35rem -17rem;
        }

        .illustration {
            margin: auto;
            transform: translateX(-.5rem);
            width: auto;
            display: flex;

            @include media (desktop) {
                width: 31rem;
                margin-left: -35px;
                margin-bottom: 21rem;
            }
        }
    }

    &__body {
        padding: 2rem 1.5rem 3rem;
        height: 27rem;
        max-height: 27rem;

        @include media (desktop) {
            padding: 4rem 6rem 4rem 0;
            height: auto;
            display: flex;
            flex-direction: column;

            &:hover .box {
                transform: translateX(-37rem) translateY(10rem);
            }
        }

        .box {
            display: none;
            position: absolute;

            @include media (desktop) {
                display: block;
                transform: translateX(-35rem) translateY(9rem);
                transition: all .5s ease;

            }
        }

        >* {
            margin: auto;
        }

        .card--title {
            text-align: center;

            @include media (desktop) {
                width: 100%;
                text-align: left;
            }

            h1 {
                font-size: clamp(2rem, 3vw, 2rem);
                font-weight: 700;
                color: $text-heading-color;
            }
        }

        .card--list {
            padding: 1rem 0;
            border-bottom: 1px solid $accent2-color;

            .question,
            .answer {
                font-size: clamp(1.1em, 3vw, .9rem);
            }

            .question {
                width: 100%;
                border: none;
                background: none;
                color: $text-color;
                font-weight: 400;
                text-align: left;
                cursor: pointer;

                &::after {
                    content: url(../images/icon-arrow-down.svg);
                    float: right;
                    animation: up 0.5s;
                    animation-direction: reverse;
                    animation-fill-mode: forwards;
                }

                &:hover {
                    color: $accent-color !important;
                }

            }

            .active {
                font-weight: 700 !important;
                cursor: unset !important;

                &::after {
                    content: url(../images/icon-arrow-down.svg);
                    float: right;
                    animation: down 0.5s;
                    animation-fill-mode: forwards;
                }

                &:hover {
                    color: $text-color !important;
                }
            }

            .answer {
                height: 0;
                overflow: hidden;
                animation: hide 0.3s reverse forwards;
            }

            // show answer content
            .show--answer {
                height: max-content !important;
                margin-top: .5rem;
                animation: popup 0.3s forwards;
            }

        }
    }
}

.attribution {
    width: 100%;
    font-size: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 1rem;
    color: white;
    background: black;
}

.attribution a {
    color: turquoise;
}