@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import './variables';

//font-family: 'Kumbh Sans', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $gradient-color;
    color: $text-color;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    line-height: 2;
    width: 100vw;
    height: 100vh;
}

.container {
    width: calc(100% - 3rem);
    height: 100%;
    margin: auto;
    display: flex;

}

.card {

    width: 100%;
    height: max-content;
    margin: 10rem auto;
    background: #fff;
    border-radius: 1rem;

    &__top {
        margin-top: -6.9rem;
        padding-bottom: 1rem;
        background: url(../images/bg-pattern-mobile.svg) no-repeat;
        background-position: bottom;

        img {
            margin: auto;
            transform: translateX(-.9rem);
            width: 17rem;
            display: flex;
        }
    }

    &__body {
        padding: .5rem 1.5rem 3rem;

        >* {
            margin: auto;
        }

        .card--title {
            text-align: center;

            h1 {
                font-size: clamp(2rem, 3vw, 3rem);
                font-weight: 700;
                color: $text-heading-color;
            }
        }

        .card--list {
            padding: 1rem 0;
            border-bottom: 1px solid $accent2-color;

            button {
                width: 100%;
                border: none;
                background: none;
                color: $text-color;
                font-weight: 400;
                text-align: left;
                cursor: pointer;

                &::after {
                    content: url(../images/icon-arrow-down.svg);
                    float: right;
                }
            }

            .details {
                height: 0;
                overflow: hidden;
            }

        }
    }
}

// show details content
.show__details {
    height: max-content !important;
    margin-top: .5rem;
}

.question__active {
    font-weight: 700;
}

.attribution {
    width: 100%;
    font-size: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    padding: 0 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}